<div class="jumbotron">
	<h1>Welcome - fancy seeing you here!</h1>
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %> (just as soon as I learn how to let you do that, so stay tuned).</p>
</div>
